@charset "utf-8";

// Font
@font-face {
  font-family: Roboto;
  src: url('../font/roboto/RobotoCondensed-Regular.ttf');
}

// Bulma - Functions.
@import "../vendor/bulma-0.7.4/sass/utilities/functions.sass";

$navbar-item-img-max-height: 9.75rem !default;

// Colors.
$fsfi-dark: rgb(202, 102, 52);
$fsfi-light: rgb(253, 203, 50);


// Link colors
$fsfi-link-color: $fsfi-dark;
$fsfi-link-visited-color: $fsfi-light;
$link: $fsfi-link-color !default;
$link-invert: findColorInvert($fsfi-link-color) !default;
$link-visited: $fsfi-link-visited-color !default;

// Section
$section-padding: 1rem 1.5rem !default;

// Footer
$footer-background-color: rgb(253, 253, 253);
$footer-padding: 3rem 1.5rem 3rem;

// Bulma - Utilities.
@import "../vendor/bulma-0.7.4/sass/utilities/initial-variables.sass";
@import "../vendor/bulma-0.7.4/sass/utilities/derived-variables.sass";
@import "../vendor/bulma-0.7.4/sass/utilities/mixins.sass";
@import "../vendor/bulma-0.7.4/sass/utilities/controls.sass";

// Bulma - Base.
@import "../vendor/bulma-0.7.4/sass/base/_all.sass";

// Bulma - Elements
@import "../vendor/bulma-0.7.4/sass/elements/button.sass";
@import "../vendor/bulma-0.7.4/sass/elements/container.sass";
@import "../vendor/bulma-0.7.4/sass/elements/content.sass";
@import "../vendor/bulma-0.7.4/sass/elements/form.sass";
@import "../vendor/bulma-0.7.4/sass/elements/table.sass";
@import "../vendor/bulma-0.7.4/sass/elements/tag.sass";
@import "../vendor/bulma-0.7.4/sass/elements/title.sass";


// Bulma - Components
@import "../vendor/bulma-0.7.4/sass/components/navbar.sass";

// Bulma - Grid
@import "../vendor/bulma-0.7.4/sass/grid/columns.sass";

// Bulma - Layout
@import "../vendor/bulma-0.7.4/sass/layout/_all.sass";

@import "style.scss";
