// Mixins.

@mixin block-border($width) {
    border: $width solid $fsfi-dark;
    padding: 5px 20px 15px 20px;
}

// Common
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    border-bottom: 1px solid rgb(230, 230, 230);
}

a:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    border-bottom: 0px;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;
}


// Nav
nav {
    a {
        border-bottom: 0px;
    }

    @include until($desktop - 1) {
        img.logo {
            margin-top: 0px;
            max-width: 300px;
            max-height: 78px;
        }
    }

    @include desktop {
        img.logo {
            margin-top: 15px;
            max-width: 400px;
            max-height:104px;
        }
    }
}

// Language Block
@include until($desktop - 1) {
    .lang-block {
        margin-right: 5px;
    }
}

// Home - Banner

.fsfi-banner header {
    display:none;
}

// Home - News, Articles.

.fs,
.news,
.articles {
    .wrapper { @include block-border(2px); }

    .title {
        display: inline-block;
        margin-bottom: 0px;
    }

    .title span {
        color: $fsfi-dark;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}

// Feed, Social
@mixin icon($url) {
    content: url($url);
    background-color: $fsfi-dark;
    max-width: 17px;
    border-radius: 3px;
    margin-left: 2px;
}

a.feed {
    border-bottom: 0px;
}

.feed-icon {
    @include icon('/assets/img/feed.svg');
}

.mastadon-icon {
    @include icon('/assets/img/mastadon.svg');
}

.email-icon {
    @include icon('/assets/img/email.svg');
}

.matrix-icon {
    @include icon('/assets/img/matrix.svg');
}

.follow-block {
    p:not(:last-child) {
        margin-bottom: 5px;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 0 0;

        li {
            display: inline;
            margin-top: 1px;

            a {
                border-bottom: 0px;
            }
        }
    }
}


// Join
.fellowship-type {
    border: 2px solid $fsfi-dark;
    margin-bottom: 15px;

    .content header {
        margin-bottom: 10px;
    }

    .content h1 {
        font-size: 1.1em;
    }

    .content p {
        margin-bottom: 2px;
    }

    .content ul {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

// News

.news-item,
.article {
    .content {
        .meta {
            margin-bottom: 0.9em;
            text-transform: uppercase;
            font-size: 0.8em;

            .author {
                display: inline-block;
                padding-right: 10px;
            }

            .date {
                display: inline-block;
                border-left: 1px solid $fsfi-light;
                padding-left: 10px;
            }

        }

        .header h1 {
            margin-bottom: 0em;
        }
        .header h2 {
            margin-top: 0.4em;
            margin-bottom: 0.3em;
        }
    }
}

// i18n
.lang {
    display: flex;
    flex-direction: row-reverse;

    p {
        border: 1px solid $fsfi-light;
        padding: 1px 8px 1px 8px;
    }
}

