// Mixins.

@mixin block-border($width) {
    border: $width solid $fsfi-dbrown;
    padding: 5px 20px 15px 20px;
}

// Home - Banner

@mixin banner-p-margin-top($pixels) {
    p.banner-text {
            margin-top: $pixels;
    }
}

.fsfi-banner header {
    display:none;
}

@include mobile {
    img.banner-img {
        display: none;
    }
}

@include tablet-only {
    @include banner-p-margin-top(50px);
}

@include desktop {
    @include banner-p-margin-top(60px);
}


// Home - News, Articles.

.fs,
.news,
.articles {
    .wrapper { @include block-border(2px); }

    a {
        color: $black;
    }
    a:hover {
        color: $fsfi-dbrown;
    }

    .title {
        display: inline-block;
        margin-bottom: 0px;
    }

    .title span {
        color: $fsfi-dbrown;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}

// Feed Icon
.feed-icon {
    content: url('/assets/img/feed.svg');
    background-color: $fsfi-dbrown;
    max-width: 17px;
    border-radius: 3px;
    margin-left: 2px;
}

// About
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Join
.fellowship-type {
    border: 2px solid $fsfi-dbrown;
    margin-bottom: 15px;

    .content header {
        margin-bottom: 10px;
    }

    .content h1 {
        font-size: 1.1em;
    }

    .content p {
        margin-bottom: 2px;
    }

    .content ul {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

// News

.news-item .content {
     .meta {
        margin-bottom: 0.9em;
        text-transform: uppercase;
        font-size: 0.9em;
        border-left: 1px solid $fsfi-lbrown;
        padding-left: 10px;
     }

     .header h1 {
         margin-bottom: 0em;
     }
     .header h2 {
         margin-top: 0.4em;
         margin-bottom: 0.3em;
     }
}
