// Mixins.

@mixin block-border($width) {
    border: $width solid $fsfi-dark;
    padding: 5px 20px 15px 20px;
}

// Common
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    border-bottom: 1px solid rgb(230, 230, 230);
}

a:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    border-bottom: 0px;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;
}


// Nav
nav {
    a {
        border-bottom: 0px;
    }
}


// Home - Banner

.fsfi-banner header {
    display:none;
}

// Home - News, Articles.

.fs,
.news,
.articles {
    .wrapper { @include block-border(2px); }

    .title {
        display: inline-block;
        margin-bottom: 0px;
    }

    .title span {
        color: $fsfi-dark;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}

// Feed
a.feed {
    border-bottom: 0px;
}

.feed-icon {
    content: url('/assets/img/feed.svg');
    background-color: $fsfi-dark;
    max-width: 17px;
    border-radius: 3px;
    margin-left: 2px;
}

// Join
.fellowship-type {
    border: 2px solid $fsfi-dark;
    margin-bottom: 15px;

    .content header {
        margin-bottom: 10px;
    }

    .content h1 {
        font-size: 1.1em;
    }

    .content p {
        margin-bottom: 2px;
    }

    .content ul {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

// News

.news-item,
.article {
    .content {
        .meta {
            margin-bottom: 0.9em;
            text-transform: uppercase;
            font-size: 0.8em;

            .author {
                display: inline-block;
                padding-right: 10px;
            }

            .date {
                display: inline-block;
                border-left: 1px solid $fsfi-light;
                padding-left: 10px;
            }

        }

        .header h1 {
            margin-bottom: 0em;
        }
        .header h2 {
            margin-top: 0.4em;
            margin-bottom: 0.3em;
        }
    }
}
