// Mixins.

@mixin block-border($width) {
    border: $width solid $fsfi-dbrown;
    padding: 5px 20px 15px 20px;
}

// Common
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;
}


// Home - Banner

.fsfi-banner header {
    display:none;
}

// Home - News, Articles.

.fs,
.news,
.articles {
    .wrapper { @include block-border(2px); }

    a {
        color: $black;
    }
    a:hover {
        color: $fsfi-dbrown;
    }

    .title {
        display: inline-block;
        margin-bottom: 0px;
    }

    .title span {
        color: $fsfi-dbrown;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}

// Feed Icon
.feed-icon {
    content: url('/assets/img/feed.svg');
    background-color: $fsfi-dbrown;
    max-width: 17px;
    border-radius: 3px;
    margin-left: 2px;
}

// Join
.fellowship-type {
    border: 2px solid $fsfi-dbrown;
    margin-bottom: 15px;

    .content header {
        margin-bottom: 10px;
    }

    .content h1 {
        font-size: 1.1em;
    }

    .content p {
        margin-bottom: 2px;
    }

    .content ul {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

// News

.news-item,
.article {
    .content {
        .meta {
            margin-bottom: 0.9em;
            text-transform: uppercase;
            font-size: 0.8em;

            .author {
                display: inline-block;
                padding-right: 10px;
            }

            .date {
                display: inline-block;
                border-left: 1px solid $fsfi-lbrown;
                padding-left: 10px;
            }

        }

        .header h1 {
            margin-bottom: 0em;
        }
        .header h2 {
            margin-top: 0.4em;
            margin-bottom: 0.3em;
        }
    }
}
