<!--#include virtual="/includes/html-open.html"-->

<!--#include virtual="/includes/header-open.html"-->
<title><!-- ITEM-TITLE --> &mdash; Free Software Foundation India</title>
<!--#include virtual="/includes/header-close.html"-->

<!--#include virtual="/includes/body-open.html"-->
<!--#include virtual="/includes/navbar.html"-->


<section class="article section">
    <div class="container">
        <div class="content">

            <div class="header">
                <hgroup>
                    <h1><span class="tag is-medium">Article</span></h1>
                    <h2><!-- ITEM-TITLE --></h2>
                </hgroup>
            </div>

            <div class="meta">
                <div class="author"><!-- AUTHOR --></div>
                <div class="date"><!-- DATE --></div>
            </div>

            <div class="main-content">
                <!-- MAIN-CONTENT -->
            </div>

        </div>
    </div>
</section>

<!--#include virtual="/includes/footer.html"-->
<!--#include virtual="/includes/js.html"-->
<!--#include virtual="/includes/body-close.html"-->
<!--#include virtual="/includes/html-close.html"-->
